<header>
    <nav>
        <a href="/blog/" class:"headline"><div class="icon"><p class="text">Blogs</p></div></a>
        <div class="list">
            <ul>
                <li><a href="/blog/new">New Blog</a></li>
                <li><a href="/blog/blogs">Blogs</a></li>
                <li><a href="/blog/about">About</a></li>
            </ul>
        </div>
    </nav>
</header>