<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <%-include("./partials/nav.ejs")%>
    <main>
    <div class="aboutus content">
        <h2>about us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a omnis dolores culpa iure blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aspernatur aut, pariatur sit dolor ab.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?</p>
    </div>
    <%-include('./partials/footer.ejs')%>
</main>
</body>
</html>