<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
 <%-include('./partials/nav.ejs')%>
    <main>
        <h1 class="headline">YOUR BLOGS</h1>
    </main>
    <%-include('./partials/footer.ejs')%>
</body>
</html>